@use 'variables' as *;


@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
    
  }
}

  @mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
      @content;
    }
  }

