
$desktop-page-header: 60px;
$desktop-section-header: 36px;
$desktop-subheader: 24px;
$desktop-bodycopy: 14px;
$desktop-footercopy: 14px;

$mobile-page-header: 24px;
$mobile-section-header: 24px;
$mobile-subheader: 14px;
$mobile-bodycopy: 13px;
$mobile-footercopy: 13px;

$desktop-padding-before-headline: 48px;
$desktop-padding-after-headline: 36px;
$desktop-padding-betweeen-components: 36px;

$desktop-padding-before-headline: 24px;
$desktop-padding-after-headline: 16px;
$desktop-padding-betweeen-components: 16px;

$stroke-width: 60px;

$desktop-breakpoint: 992px;
$tablet-breakpoint: 768px;
$mobile-breakpoint: 600px;


