@font-face {
  font-family: 'Avenir';
  font-weight: 700;
  src: url('../assets/Font/AvenirNextLTPro-Bold.otf') format("opentype");
}

@font-face {
  font-family: 'Avenir';
  font-weight: 400;
  src: url('/assets/Font/AvenirNextLTPro-Regular.otf') format("opentype");
}

@font-face {
  font-family: 'Avenir';
  font-weight: 600;
  src: url('../assets/Font/AvenirNextLTPro-Demi.otf') format("opentype");
}