@use '../partials/globals' as *;
@use '../partials/mixins' as *;
@use '../partials/typography' as *;
@use '../partials/variables' as *;


body {
	font-size: 18px;
	line-height: 32px;
	color: rgb(0, 0, 0);
	font-family: AvenirBold;
	font-weight: 600;
}


.bio-hero {
	background-image: url("/assets/Images/hero-bio.jpg");
	background-size: cover;

	&__overlay {
		background-color: rgba(0, 0, 0, 0.5);
		padding-top: $site-padding-gigantic;
		padding-bottom: $site-padding-gigantic;

		@include desktop {
			padding-top: 16rem;
			padding-bottom: 16rem;
		}
	}

	&__header {
		color: white;
	}
}

.bio-about {

	&__title {
		color: red;
	}

	img {
		width: 90%;
	}

	&__quote {

		@include tablet {
			margin-bottom: 0;
		}
	}

	&__quotee {
		
		@include tablet {
			font-size: 1rem;
			font-weight: 600;
			margin-top: 0;
		}
	}

	&__paragraphs {
		
		@include tablet {
			display: flex;
			flex-direction: row;
			
			p {
				padding-right: $site-padding-small;
			}
		}
	}
}

.bio-gallery {
	background-color: $site-bg-color2;
	padding-top: $site-padding-medium;
	padding-bottom: $site-padding-medium;
}

.bio-gallery__container {
	display: flex;
	flex-direction: column;

	@include tablet {
		flex-direction: row;
		flex-wrap: wrap;
	}

	img {
		margin-bottom: $site-padding-xsmall;

		@include tablet {
			max-width: 30%;
		}
	}
}
