@use '../partials/globals' as *;
@use '../partials/mixins' as *;
@use '../partials/typography' as *;
@use '../partials/variables' as *;


body {
	color: rgb(0, 0, 0);
}


.bio-hero {
	background-image: url("/assets/Images/hero-bio.jpg");
	background-size: cover;


	&__overlay {
		background-color: rgba(0, 0, 0, 0.5);
		padding-top: $site-padding-gigantic;
		padding-bottom: $site-padding-gigantic;
		@include site-sides;

		@include desktop {
			padding-top: 16rem;
			padding-bottom: 16rem;
		}
	}

	&__header {
		color: $site-primary-white;
		@include page-header;
	}

	&__text {
		color: $site-primary-white;

	}
}

.bio-about {
	@include site-sides;

	&__header {
		@include section-header;
	}

	&__title {
		color: red;
	}

	img {
		width: 90%;
	}

	&__quote {
		@include subheader;

		@include tablet {
			margin-bottom: 0;
		}
	}

	&__quotee {
		@include subheader;

		@include tablet {
			margin-top: 0;
		}
	}

	&__subheader {
		@include subheader;
	}

	&__paragraphs {

		@include tablet {
			display: flex;
			flex-direction: row;

			p {
				padding-right: $site-padding-small;
			}
		}
	}

	&__paragraph {
		@include body-copy;
	}
}

.bio-gallery {
	background-color: $site-primary-white;
	padding-top: $site-padding-medium;
	padding-bottom: $site-padding-medium;
	@include site-sides;

	&__header {
		@include section-header;
	}

	&__container {
		display: flex;
		flex-direction: column;

		@include tablet {
			flex-direction: row;
			flex-wrap: wrap;
		}

		img {
			margin-bottom: $site-padding-xsmall;

			@include tablet {
				max-width: 30%;
			}
		}
	}
}