@use '../partials/globals' as *;
@use '../partials/mixins' as *;
@use '../partials/typography' as *;
@use '../partials/variables' as *;


body {
	color: rgb(0, 0, 0);
}

.bio-hero {
	background-image: url("/assets/Images/hero-bio.jpg");
	background-size: cover;


	&__overlay {
		background-color: rgba(0, 0, 0, 0.5);
		padding-top: $site-padding-gigantic;
		padding-bottom: $site-padding-gigantic;
		@include site-sides;

		@include desktop {
			padding-top: 16rem;
			padding-bottom: 16rem;
		}
	}

	&__header {
		color: $site-primary-white;
		@include page-header;
	}

	&__text {
		color: $site-primary-white;

	}
}

.bio-about {
	@include site-sides;

	&__header {
		@include section-header;
	}

	&__title {
		color: red;
	}

	img {
		width: 90%;
	}

	&__quote {
		@include subheader;

		@include tablet {
			margin-bottom: 0;
		}
	}

	&__quotee {
		@include subheader;

		@include tablet {
			margin-top: 0;
		}
	}

	&__subheader {
		@include subheader;
	}

	&__paragraphs {

		@include tablet {
			display: flex;
			flex-direction: row;

			p {
				padding-right: $site-padding-small;
			}
		}
	}

	&__paragraph {
		@include body-copy;
	}
}

.bio-gallery {
	background-color: $site-primary-white;
	padding-bottom: $site-padding-medium;
	@include site-sides;

	&__header {
		@include section-header;
	}

	&__container {
		display: flex;
		flex-direction: column;

		@include tablet {
			flex-direction: row;
			flex-wrap: wrap;
		}

		img {
			margin-bottom: $site-padding-xsmall;

			@include tablet {
				max-width: 30%;
			}
		}
	}
}

.bio-conversation {
	display: flex;
	flex-direction: column;
	@include site-sides;

	&__header {
		display: block;
		color: $site-secondary-black;

		@include section-header;

		@include tablet {
			width: auto;
		}

		@include desktop {
			margin-left: auto;
			margin-right: auto;
		}

	}

	&__form {
		width: 94%;
		@include body-copy;
		padding-bottom: $site-padding-xsmall;

		@include tablet {
			width: auto;
		}

		@include desktop {
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__row {
		display: flex;
	}

	&__picture {
		margin-top: .75rem;
		margin-right: 1.25rem;
	}

	&__profile-picture {
		width: 3.125rem;
		height: 3.125rem;
		border-radius: 100%;
		object-fit: cover;
	}

	&__details {
		width: 90%;
		@include body-copy;

		p {
			display: inline-block;
		}

		&>p {
			margin-top: 0;
		}

		@include desktop {
			width: 28.75rem;
		}
	}

	&__label {

		color: $site-primary-black;
		display: flex;
		align-content: space-between;
		justify-content: start;
		width: 100%;
		align-items: center;
		@include comment-name;
	}

	&__date {
		color: $site-primary-silver;
		@include comment-date;
	}

	&__input {
		border: .125rem solid $site-secondary-mercury;
		border-radius: .1875rem;
		background-color: $site-secondary-alabaster;
		width: 100%;
		height: 2.5rem;
		line-height: 2em;
		padding-left: .625rem;
		margin-bottom: .625rem;
		box-sizing: border-box;

		@include subheader;

		@include desktop {
			height: 3rem;
			font-size: 1rem;
		}
	}

	&-name {
		@include subheader;

		@include tablet {
			margin-right: .625rem;
		}
	}

	&__comments {
		margin-top: .125rem;

		img {
			@include tablet {
				width: 1.875rem;
				height: 1.875rem;
			}
		}

		@include tablet {
			margin-left: 5rem;
			margin-right: 5rem;
		}

		@include desktop {
			margin-left: auto;
			margin-right: auto;
		}
	}

	textarea {
		background-color: $site-secondary-alabaster;
		border: .0625rem solid $site-secondary-mercury;
		border-radius: .1875rem;
		width: 100%;
		line-height: 2em;
		padding-left: .625rem;
		margin-bottom: .625rem;
		box-sizing: border-box;

		@include subheader;

		@include desktop {
			height: 6rem;
			font-size: 1rem;
		}
	}

	&__nameAndDate {
		display: flex;
		justify-content: space-between;

		@include tablet {
			justify-content: flex-start;
		}

	}

	&__text-area {
		width: 94%;
		border-bottom: .0625rem solid $site-secondary-mercury;

		&:first-of-type {
			border-top: .0625rem solid $site-secondary-mercury;
		}

		@include tablet {
			width: 100%;
		}

		@include desktop {
			width: 33.125rem;
		}
	}


	&__submit-button {
		@include site-button;

	}

	&__submit {
		display: block;
		height: 2.5rem;
		width: 100%;
		color: $site-primary-white;
		border-radius: .3125rem;
		border: none;

		@include tablet {
			width: 25%;
		}

		@include desktop {
			height: 3rem;
			width: 10rem;
			font-size: 1rem;
		}

	}
}