@font-face {
  font-family: "Avenir";
  font-weight: 700;
  src: url("../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Avenir";
  font-weight: 400;
  src: url("/assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Avenir";
  font-weight: 600;
  src: url("../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
}
body {
  background-color: #FFF;
  background-color: #FFF;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.footer {
  background-color: #323232;
  color: #FFF;
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
  }
}
.footer__header {
  font-family: "Avenir", sans-serif;
  font-size: 1.25rem;
  line-height: 2rem;
}
@media screen and (min-width: 768px) {
  .footer__header {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
.footer__personal-info {
  font-family: "Avenir", sans-serif;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media screen and (min-width: 768px) {
  .footer__personal-info {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.nav-bar {
  margin: 0;
  max-width: 100%;
  background-color: #323232;
  position: relative;
  min-height: 4.6875rem;
  color: #FFF;
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .nav-bar {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
  }
}
.nav-bar a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .nav-bar a {
    min-width: 1rem;
    padding: 1.5rem;
    padding-bottom: 0;
    margin: 0;
    height: 4.5rem;
  }
}
@media screen and (min-width: 768px) {
  .nav-bar__logo-container {
    width: 30%;
    padding-right: 4rem;
  }
}
.nav-bar__logo {
  max-width: 7.5rem;
  max-height: 1.25rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .nav-bar__logo {
    max-width: 25rem;
    max-height: 5rem;
    min-width: 20%;
  }
}
@media screen and (min-width: 1280px) {
  .nav-bar__logo {
    max-width: 10rem;
  }
}
.nav-bar__link {
  font-family: "Avenir", sans-serif;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  left: 10%;
  height: 100%;
  width: 49%;
  text-align: center;
  color: #AFAFAF;
}
@media screen and (min-width: 768px) {
  .nav-bar__link {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav-bar__link {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .nav-bar__link {
    width: auto;
  }
}
.nav-bar__link a:visited {
  color: #E1E1E1;
  text-decoration: none;
}
.nav-bar__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .nav-bar__links {
    justify-content: flex-start;
  }
}
.nav-bar__current {
  border-bottom-style: solid;
  border-bottom-width: 0.25rem;
  border-bottom-color: #FFF;
  color: #FFF;
}
.nav-bar__link-text:visited {
  color: #E1E1E1;
}

.footer {
  font-family: "Avenir", sans-serif;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media screen and (min-width: 768px) {
  .footer {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
.footer__header {
  font-family: "Avenir", sans-serif;
  font-size: 1.25rem;
  line-height: 2rem;
}
@media screen and (min-width: 768px) {
  .footer__header {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__header {
    order: 1;
    width: 40%;
  }
}
.footer__icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer__icons a {
  max-width: 1.5rem;
  max-height: 1.5rem;
  padding-right: 1.5rem;
}
@media screen and (min-width: 768px) {
  .footer__icons {
    width: 30%;
    justify-content: flex-start;
    order: 2;
  }
}
@media screen and (min-width: 768px) {
  .footer__personal-info {
    order: 4;
    width: 33%;
  }
}
@media screen and (min-width: 1280px) {
  .footer__personal-info {
    width: 20%;
  }
}
.footer__logo-container {
  max-width: 7.5rem;
  padding-top: 4rem;
  padding-left: 0;
}
@media screen and (min-width: 768px) {
  .footer__logo-container {
    order: 3;
    max-width: 33%;
    width: 30%;
    padding: 0;
    align-self: center;
  }
}
.footer__logo {
  max-width: 7.5rem;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    order: 3;
  }
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    order: 5;
  }
}
@media screen and (min-width: 1280px) {
  .footer__copyright {
    width: 100%;
  }
}

.icon {
  max-width: 1.5rem;
  max-height: 1.5rem;
  padding-right: 4rem;
}

body {
  color: rgb(0, 0, 0);
}

.shows-hero {
  background-image: url("/assets/Images/Photo-gallery-3.jpg");
  background-size: cover;
}
.shows-hero__overlay {
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .shows-hero__overlay {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows-hero__overlay {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows-hero__overlay {
    padding-top: 16rem;
    padding-bottom: 16rem;
  }
}
.shows-hero__header {
  color: #FFF;
  font-family: "Avenir", sans-serif;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .shows-hero__header {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}
.shows-hero__text {
  color: #FFF;
  font-family: "Avenir", sans-serif;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .shows-hero__text {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows-hero__text {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
.shows-hero .mobilePrestitial {
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  z-index: 10;
  display: none;
}

.shows-events {
  font-family: "Avenir", sans-serif;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .shows-events {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows-events {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
.shows-events__text {
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .shows-events__text {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows-events__text {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
.shows-events__row {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #E1E1E1;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .shows-events__row {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows-events__row {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
.shows-events__row.selected {
  background-color: #E1E1E1;
}
.shows-events__row:hover {
  background-color: #FAFAFA;
}
@media screen and (min-width: 768px) {
  .shows-events__row {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }
}
.shows-events__date-header, .shows-events__venue-header, .shows-events__location-header {
  display: none;
}
@media screen and (min-width: 768px) {
  .shows-events__date-header, .shows-events__venue-header, .shows-events__location-header {
    display: block;
    width: 7.5rem;
  }
}
@media screen and (min-width: 768px) {
  .shows-events__header-row {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .shows-events__header-row {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .shows-events__header-row {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
.shows-events__header-button {
  display: none;
}
@media screen and (min-width: 768px) {
  .shows-events__header-button {
    display: inline-block;
    width: 100%;
    color: #FFF;
    background-color: #323232;
    border-radius: 0.25rem;
    height: 2.5rem;
    border: none;
    color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .shows-events__header-button {
    max-width: 12.5rem;
    min-width: 9.375rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
.shows-events__header {
  color: #AFAFAF;
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
  padding-bottom: 0;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .shows-events__header {
    display: none;
  }
}
.shows-events__date {
  font-weight: 600;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .shows-events__date {
    align-self: center;
    width: 7.5rem;
  }
}
.shows-events__venue, .shows-events__location {
  font-family: "Avenir", sans-serif;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .shows-events__venue, .shows-events__location {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows-events__venue, .shows-events__location {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .shows-events__venue, .shows-events__location {
    align-self: center;
    width: 7.5rem;
  }
}
.shows-events__button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  color: #FFF;
  background-color: #323232;
  border-radius: 0.25rem;
  height: 2.5rem;
  border: none;
}
@media screen and (min-width: 768px) {
  .shows-events__button {
    max-width: 12.5rem;
    min-width: 9.375rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}/*# sourceMappingURL=show.css.map */