@use '../styles/partials/globals' as *;
@use '../styles/partials/mixins' as *;
@use '../styles/partials/typography' as *;
@use '../styles/partials/variables' as *;

body {
    color: rgb(0, 0, 0);
}

.shows-hero {
    background-image: url("/assets/Images/Photo-gallery-3.jpg");
    background-size: cover;
    transform: scaleX(-1);

    &__overlay {
        background-color: rgba(0, 0, 0, 0.5);
        padding-top: $site-padding-small;
        padding-bottom: $site-padding-small;
        @include site-sides;
        transform: scaleX(-1);
        display: flex;
        align-content: space-around;
        flex-direction: column;

        @include desktop {
            padding-top: 8rem;
            padding-bottom: 8rem;
        }
    }

    &__song {

        @include desktop {
            display: flex;
            justify-content: space-between;
        }

        iframe {
            max-width: 25rem;

            @include desktop {
                width: 27.5rem;
                max-width: 27.5rem;
            }
        }
    }

    &__header {
        color: $site-primary-white;
        @include page-header;
        display: flex;
        flex-direction: column;
        margin-top: $site-padding-xsmall;
    }

    &__text {
        color: $site-primary-white;
        @include body-copy;
        font-weight: 600;
        margin-bottom: 0;
    }

    .mobilePrestitial {
        text-align: center;
        background: rgba(0, 0, 0, .4);
        position: absolute;
        top: 0;
        z-index: 10;
        display: none;

    }
}

.shows-events {
    @include body-copy;
    padding-bottom: $site-padding-xsmall;

    @include tablet {
        padding-top: $site-padding-medium;
        padding-bottom: $site-padding-medium;
    }

    @include desktop {
        display: flex;
    }

    &__shows {
        display: flex;
        flex-direction: column;
    }

    &__text {
        @include site-sides;
        @include section-header;
    }

    &__row {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid $site-secondary-mercury;
        @include site-sides;

        &:hover {
            background-color: $site-secondary-alabaster;
        }

        &-selected {
            background-color: $site-secondary-mercury;
        }

        @include tablet {
            flex-direction: row;
            justify-content: space-between;
            align-content: center;
        }

        @include desktop {
            padding-left: $site-padding-small;
            padding-right: $site-padding-small;
            min-width: 50rem;
        }
    }

    &__date-header,
    &__venue-header,
    &__location-header {
        @include shows-section-header;
    }

    &__header-row {

        @include tablet {
            display: flex;
            justify-content: space-between;
            @include site-sides;
        }

        @include desktop {
            padding-left: $site-padding-small;
            padding-right: $site-padding-small;
        }
    }

    &__header-button {
        display: none;

        @include tablet {
            display: inline-block;
            @include invisible-button;
        }
    }

    &__header {
        @include shows-header;
    }

    &__date {
        @include shows-date;
    }

    &__venue,
    &__location {
        @include body-copy;
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 0;

        @include tablet {
            align-self: center;
            width: 7.5rem;
        }

        @include desktop {
            width: 10rem;
        }
    }

    &__button {
        margin-top: $site-padding-xsmall;
        margin-bottom: $site-padding-xsmall;
        @include site-button;
    }

}