@use '../partials/globals' as *;
@use '../partials/mixins' as *;
@use '../partials/typography' as *;
@use '../partials/variables' as *;

body {
    color: rgb(0, 0, 0);
}

.shows-hero {
    background-image: url("/assets/Images/Photo-gallery-3.jpg");
    background-size: cover;


    &__overlay {
        background-color: rgba(0, 0, 0, 0.5);
        padding-top: $site-padding-small;
        padding-bottom: $site-padding-small;
        @include site-sides;

        @include desktop {
            padding-top: 16rem;
            padding-bottom: 16rem;
        }
    }

    &__header {
        color: $site-primary-white;
        @include page-header;
    }

    &__text {
        color: $site-primary-white;
        @include body-copy;
        font-weight: 600;
    }

    .mobilePrestitial {
        text-align: center;
        background: rgba(0, 0, 0, .4);
        position: absolute;
        top: 0;
        z-index: 10;
        display: none;

    }
}

.shows-events {
    @include body-copy;
    padding-bottom: $site-padding-xsmall;

    &__text {
        @include site-sides;
    }

    &__row {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid $site-secondary-mercury;
        @include site-sides;
    }

    &__date-header,
    &__venue-header,
    &__location-header {
        @include shows-section-header;
    }

    &__header {
        @include shows-header;
    }

    &__date {
        @include shows-date;
    }

    &__venue,
    &__location {
        @include body-copy;
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    &__button {
        margin-top: $site-padding-xsmall;
        margin-bottom: $site-padding-xsmall;
        @include site-button;
    }

}